{erl_opts, [debug_info, {i, "include"}]}.

{deps, [
	{epgsql, "4.7.1"},
	{jiffy, ".*", {git, "https://github.com/ErlGameWorld/jiffy.git", {branch, "master"}}},
	{eFmt, ".*", {git, "https://github.com/ErlGameWorld/eFmt.git", {branch, "master"}}},
	{eFaw, ".*", {git, "https://github.com/ErlGameWorld/eFaw.git", {branch, "main"}}}
]}.

{eunit_opts, [verbose, {report, {eunit_progress, [colored, profile]}}]}.

{profiles, [
	{test, [
		{erl_opts, [debug_info, {i, "include"}, export_all, nowarn_export_all]},
		{src_dirs, ["src", "test", "test/schema"]},
		{deps, []}
	]}
]}.

{shell, [
	{config, "config/sys.config"},
	{apps, [ePgdb]}
]}.

{escript_main_app, ePgdb}.                                      %% 要转换为 escript 的主应用程序名称
{escript_name, "genPSchema"}.                                  %% 生成的 escript 文件名，同时也是默认的启动模块名
{escript_incl_apps, []}.                                        %% 除主应用及其依赖外，额外包含的应用列表
{escript_emu_args, "%%! -escript main genPSchema +sbtu +A0\n"}.         %% 传递给 Erlang 虚拟机的启动参数
{escript_shebang, "#!/usr/bin/env escript\n"}.                  %% Unix 系统的 shebang 行（指定脚本解释器）
{escript_comment, "%% gen db schema\n"}.                        %% 生成的 escript 文件开头的注释内容
